 body {
     background-color: #33ffc7;
     font-family: Verdana;
     text-align: center;
 }

 h1 {
     font-family: "Times New Roman", Times, serif;
     text-decoration: underline;
 }

 form {
     background-color: #fff;
     max-width: 500px;
     margin: 50px auto;
     padding: 30px 20px;
     box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 }

 .form-control {
     text-align: left;
     margin-bottom: 25px;
 }

 .form-control label {
     display: block;
     margin-bottom: 15px;
 }

 .form-control input {
     border: 1px solid #777;
     border-radius: 6px;
     font-family: inherit;
     padding: 10px;
     display: block;
     width: 95%;
 }

 .form-control select {
     border: 1px solid #777;
     border-radius: 6px;
     font-family: inherit;
     padding: 10px;
     display: block;
     width: 99%;
 }